/* Page total */
.total_categorie {
    display: flex;
    align-items: stretch;
    width: 100%;
}


/* Sidebar */
.sidebar {
    min-width: 16%;
    max-width: 16%;
    height: 150vh;
    transition: margin-left 0.35s ease-in-out, left 0.35s ease-in-out,
    margin-right 0.35s ease-in-out, right 0.35s ease-in-out;
    background-color: #222222;
    color: white;
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
}

.date_admin_accueil{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 3px;
    margin-top: 30px;
}

.titre_sidebar{
    width: 100%;
    height: 50px;
    margin-top: 62px;
    text-align: center;
    font-weight: bold;
    padding-top: 12px;
}

.titre_sidebar2{
    width: 100%;
}

.titre_sidebar:hover{
    background-color: #33985d!important;
}

.liste_titre_sidebar{
    width: 100%;
    margin-top: 50px;
}

.liste_sidebar{
    width: 100%;
    height: 40px;
    border-bottom: solid 2px #929090;
    padding-left: 20px;
    margin-bottom: 20px;
    font-weight: bold;
}

.liste_sidebar:hover{
    color: #33985d;
    border-bottom: solid 2px #33985d;
}


/* Sidebar animation */
.collapsed {
    margin-left: -10%;
}

    /* SCROLL */
    .sidebar::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    .sidebar::-webkit-scrollbar-track {
        border-radius: 10px;
    }

    .sidebar::-webkit-scrollbar-thumb {
        border-radius: 10px;
        /* background: #163c8c; */
        background-color: rgba(0, 0, 0, 0.5);;
    }


/* ICONE RETRACT SIDEBAR */

.icone_retract_sidebar{
    margin-left: 20px;
    line-height: 85px;
}



/* Contenue */
.contenue {
    width: 100%;
}


/* Part 1 */

.div_accueil_color{
    width: 100%;
    height: 150px;
}

.div_ajout_admin2{
    width: 150px;
    height: 25px;
    border-radius: 15px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    color: black;
    padding-left: 7px;
    font-weight: bold;
}

.div_notif_admin2{
    width: 70px;
    height: 25px;
    border-radius: 15px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    color: black;
}

.div_notif_admin2:hover,
.div_notif_admin2:hover .icone_notif2,
.div_ajout_admin2:hover{
    color: #33985d;
}

.icone_notif2{
    margin-left: 10px;
    color: #929090;
    margin-right: 7px;
}


/* Gauche */

.div_gauche_admin{
    margin-top: -70px!important;
    width: 100%;
}

.contenu_gauche1_admin{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.img_last_save{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: solid 10px #33985d;
    margin-left: 20px;
    margin-top: 10px;
    object-fit: cover;
    float: left;
}

.gauche1_admin_texteUp{
    width: 550px;
    height: 65px;
    float: left;
    margin-left: 40px;
    margin-top: 15px;
}

.prix_last_save{
    float: right;
    position: relative;
    bottom: 65px;
    font-size: 20px;
}

.texte_last_save{
    text-align: justify;
    width: 550px;
    font-size: 15px;
    margin-left: 240px;
}

.info_last_save{
    width: 550px;
    height: 60px;
    float: left;
    margin-left: 40px;
    margin-top: -15px;
}

.info_last_save span{
    margin-left: 20px;
    vertical-align: 5px;
}




/* Droit */

.contenu_droit1_admin{
    width: 28%;
    height: 500px;
    margin-top: -70px!important;
}








/* PRESENTATION */

.presentation_categorie{
    text-align: center;
    padding-top: 40px;
}

.texte_presentation_categorie{
    font-size: 70px;
    color: #bc1823;
    font-weight: bold;
    margin-top: 160px;
}

.sous_texte_presentation_categorie{
    margin-top: -20px;
}

.barre_recherche_categorie{
    margin-top: 50px;
    border-radius: 50px;
    text-align: center;
    width: 90%;
    border: none;
}

.barre_recherche_categorie_icone{
    position: relative;
    right: 540px;
}