/* Page total */
.total_categorie {
    display: flex;
    align-items: stretch;
    width: 100%;
}


/* Contenue */
.contenue {
    width: 100%;
}


/* Haut */

.div_accueil_color{
    width: 100%;
    height: 150px;
}

.div_ajout_admin2{
    width: 150px;
    height: 25px;
    border-radius: 15px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    color: black;
    padding-left: 10px;
    font-weight: bold;
}

.div_notif_admin2{
    width: 70px;
    height: 25px;
    border-radius: 15px;
    float: right;
    margin-top: 30px;
    margin-right: 30px;
    color: black;
}

.div_notif_admin2:hover,
.div_notif_admin2:hover .icone_notif2,
.div_ajout_admin2:hover{
    color: #33985d;
}

.icone_notif2{
    margin-left: 10px;
    color: #929090;
    margin-right: 7px;
}


/* Gauche */

        /* Partie 1 */

        .div_gauche_admin{
            margin-top: -70px!important;
            width: 100%;
        }

        .contenu_gauche1_admin{
            width: 100%;
            height: 200px;
            border-radius: 20px;
        }

        .img_last_save{
            width: 180px;
            height: 180px;
            border-radius: 100px;
            border: solid 10px #33985d;
            margin-left: 20px;
            margin-top: 10px;
            object-fit: cover;
            float: left;
        }

        .gauche1_admin_texteUp{
            width: 100%;
            height: 65px;
            float: left;
            margin-top: 15px;
        }

        .prix_last_save{
            float: right;
            position: relative;
            bottom: 65px;
            right: 15px;
            font-size: 20px;
        }

        .texte_last_save{
            text-align: justify;
            width: 95%;
            font-size: 15px;
        }

        .info_last_save{
            width: 550px;
            height: 60px;
            float: left;
            margin-top: -15px;
        }

        .info_last_save span{
            margin-left: 20px;
            vertical-align: 5px;
        }

        /* Partie 2 */

        .contenu_gauche2_admin{
            width: 100%;
            height: 700px;
            border-radius: 20px;
        }

        .legende_admin{
            float: right;
            width: 200px;
        }

        .legende_graphe_color{
            width: 75px;
            height: 25px;
            border-radius: 30px;
            content: "";
            background-color: #79bb94;
        }

        .legende_graphe_color2{
            width: 75px;
            height: 25px;
            border-radius: 30px;
            content: "";
            background-color: #c0dfcd;
        }

        .contain_bar{
            margin-top: 10px; 
        }

        .progress-bar-vertical{
            width: 20px;
            min-height: 100px;
            display: flex;
            align-items: flex-end;
            margin-right: 20px;
            float: left;
        }

        .progress-bar-vertical .progress-bar{
            width: 100%;
            height: 0;
            -webkit-transition: height 0.6s ease;
            -o-transition: height 0.6s ease;
            transition: height 0.6s ease;
        }

        .bar1_progress{
            margin-right: 5px;
        }

        /* Partie 3 */

        .contenu_gauche3_admin{
            width: 100%;
            height: 240px;
            border-radius: 20px;
        }

        .info_liste_car{
            border-radius: 50px;
            padding: 5px;
            float: right;
            width: 40px;
            text-align: center;
        }

        .liste_vehicule_admin{
            height: 35px;
            float: left;
        }

        .liste2_vehicule_admin{
            width: 95%;
            height: 35px;
            line-height: 35px;
            border-radius: 10px;
            padding-bottom: 40px;
        }

        .img_logo_listeVoiture{
            width: 30px;
            height: 30px;
            object-fit: cover;
            border-radius: 30px;
        }



/* Droit */

.droit_admin_div{
    padding-bottom: 50px;
}

.titre_droit_admin{
    text-align: center;
    padding-top: 20px;
    margin-bottom: 30px;
    font-weight: bold;
}

.icone_droit_admin{
    float: right;
    position: relative;
    right: 20px;
    top: 10px;
    color: #929090;
}

.icone_droit_admin:hover{
    color: #33985d;
}

.liste_droit_admin{
    margin-bottom: 20px;
    color: #5a5959;
    font-size: 15px;
}

.partie_droit_droit_admin{
    float: right;
}

        /* Partie 1 */

        .contenu_droit1_admin{
            width: 100%;
            height: 240px;
            margin-top: -70px!important;
            border-radius: 20px;
        }
        

        /* Partie 2 */

        .contenu_droit2_admin{
            width: 100%;
            height: 660px;
            border-radius: 20px;
        }

        /* Partie 3 */

        .contenu_droit3_admin{
            width: 100%;
            height: 240px;
            border-radius: 20px;
        }

/* Changement couleur */

.tgl {
    position: relative;
    display: inline-block;
    height: 30px;
    cursor: pointer;
  }
  .tgl > input {
    position: absolute;
    opacity: 0;
    z-index: -1;
    /* Put the input behind the label so it doesn't overlay text */
    visibility: hidden;
  }
  .tgl .tgl_body {
    width: 60px;
    height: 30px;
    background: white;
    border: 1px solid #dadde1;
    display: inline-block;
    position: relative;
    border-radius: 50px;
  }
  .tgl .tgl_switch {
    width: 30px;
    height: 30px;
    display: inline-block;
    background-color: white;
    position: absolute;
    left: -1px;
    top: -1px;
    border-radius: 50%;
    border: 1px solid #ccd0d6;
    -moz-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.13);
    -moz-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, -moz-transform cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -o-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, -o-transform cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -webkit-transition: left cubic-bezier(0.34, 1.61, 0.7, 1), -webkit-transform cubic-bezier(0.34, 1.61, 0.7, 1);
    -webkit-transition-delay: 250ms, 250ms;
    transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, transform cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    z-index: 1;
  }
  .tgl .tgl_track {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
    border-radius: 50px;
  }
  .tgl .tgl_bgd {
    position: absolute;
    right: -10px;
    top: 0;
    bottom: 0;
    width: 55px;
    -moz-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, right cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -o-transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, right cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    -webkit-transition: left cubic-bezier(0.34, 1.61, 0.7, 1), right cubic-bezier(0.34, 1.61, 0.7, 1);
    -webkit-transition-delay: 250ms, 250ms;
    transition: left cubic-bezier(0.34, 1.61, 0.7, 1) 250ms, right cubic-bezier(0.34, 1.61, 0.7, 1) 250ms;
    background: #33985d url("http://petelada.com/images/toggle/tgl_check.png") center center no-repeat;
  }
  .tgl .tgl_bgd-negative {
    right: auto;
    left: -45px;
    background: white url("http://petelada.com/images/toggle/tgl_x.png") center center no-repeat;
  }
  .tgl:hover .tgl_switch {
    border-color: #b5bbc3;
    -moz-transform: scale(1.06);
    -ms-transform: scale(1.06);
    -webkit-transform: scale(1.06);
    transform: scale(1.06);
  }
  .tgl:active .tgl_switch {
    -moz-transform: scale(0.95);
    -ms-transform: scale(0.95);
    -webkit-transform: scale(0.95);
    transform: scale(0.95);
  }
  .tgl > :not(:checked) ~ .tgl_body > .tgl_switch {
    left: 30px;
  }
  .tgl > :not(:checked) ~ .tgl_body .tgl_bgd {
    right: -45px;
  }
  .tgl > :not(:checked) ~ .tgl_body .tgl_bgd.tgl_bgd-negative {
    right: auto;
    left: -10px;
  }