/* Carousel */
.carousel_accueil{
    width: 100%;
    height: 680px;
    margin-bottom: 100px;
}

.row_carousel{
    height: 605px;
}

.carousel_tot{
    position: relative;
}

.carousel_bas{
    height: 75px;
}

.carousel_bas1{
    color: white;
    font-size: 27px;
    font-weight: bold;
}

.carousel_bas2{
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

/* Presentation */
.presentation_tot{
    margin-bottom: 10px;
}

.titre_presentation{
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
}

.texte_presentation{
    text-align: justify;
    margin-top: 30px;
}

.btn_presention{  
    margin: auto;
    margin-top: 30px;
    display: block;
    width: 150px;
}

.img_presentation{
    box-shadow: -25px -25px 0 0 #c0dfcd;
    width: 600px;
    height: 400px;
    margin-left: 50px;
}

/* Marque */
.marque_titre{
    position: relative;
    top: -150px;
}

.text_marque_gen{
    font-size: 60px;
}

.shape_marque {
    width:100%;
}

/* .top_div_marque1 {
    position: relative;
    top: 200px;
    height: 0;
    border-width: 0 0 320px 3000px;
    border-style: solid;
    border-color: transparent #33985d #33985d transparent;
} */

.top_div_marque2 {
    height: 0;
    border-width: 0 0 320px 3000px;
    /* border: double 5px orange; */
    border-style: solid;
    border-color: transparent #33985d #33985d transparent;
}

.bottom_div_marque {
    height: 200px;
    background-color: #33985d;
}

.double-border {
    background-color:white;
    border-top: 20px solid #33985d;
    padding: 2em;
    width: 100%;
    height: 350px;
    position: relative;
}

.double-border:before {
    background: #33985d;
    border: 4px solid #33985d;
    content: "";
    display: block;
    height: 250px;
    width: 100%;
    position: absolute;
    top: 20px;
    left: 0px;
}