/* Carousel */
.carousel_accueil{
    width: 100%;
    height: 680px;
    margin-bottom: 100px;
}

.row_carousel{
    height: 605px;
}

.carousel_tot{
    position: relative;
}

.carousel_bas{
    height: 75px;
}

.carousel_bas1{
    color: white;
    font-size: 27px;
    font-weight: bold;
}

.carousel_bas2{
    color: black;
    font-size: 15px;
    font-weight: bold;
    font-family: 'Raleway', sans-serif;
}

/* Presentation */
.presentation_tot{
    margin-bottom: 10px;
}

.titre_presentation{
    font-weight: bold;
    font-size: 50px;
    letter-spacing: 5px;
}

.texte_presentation{
    text-align: justify;
    margin-top: 30px;
}

.btn_presention{  
    margin: auto;
    margin-top: 30px;
    display: block;
    width: 150px;
}

.img_presentation{
    box-shadow: -25px -25px 0 0 #c0dfcd;
    width: 600px;
    height: 400px;
    margin-left: 50px;
    object-fit: cover;
}

/* Marque */
.image_fond_marque1{
    width: 100%;
    height: 500px;
    content: "";
    clip-path: polygon(0 60%, 0% 100%, 0 70%, 0 70%, 100% 40%, 100% 100%, 0 100%, 0 65%, 100% 35%, 100% 30%);
}

.marque_titre{
    position: relative;
    top: -120px;
}

.text_marque_gen{
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 7px;
}

.row_marque{
    margin-top: -108px!important;
    /* margin-left: 50px;
    margin-right: 50px; */
}

.img_marque{
    height: 400px;
    object-fit: cover;
}

.row_marque2{
    text-align: center;
    border: none;
    border-top: solid 20px #33985d;
}

.image_fond_marque2{
    width: 300px;
    height: 100px;
    content: "";
    clip-path: polygon(100% 0, 100% 40%, 50% 100%, 50% 100%, 0 40%, 0% 0%);
}

.icone_affiche_marque{
    position: relative;
    top: -80px;
}


/* NEW CAROUEL  */

.carousel{
    margin-top: 50px;
  }
  .carousel-inner{
    height: 100px;
  }
  .carousel-caption{
    color: #fff;
    top: 50%;
  }