.connexion_tot{
    width: 100%;
    height: 90vh;
}

.img_co{
    width: 350px;
    transform: translate(55%,50%);
}

.contenu_co{ 
    margin-left: 150px;
}

.titre_co{
    color: black;
    text-transform: uppercase;
}

.icone_user_co{
    position: relative;
    left: 25px;
}

.input_co{
    padding-left: 30px;
    width: 430px;
}

.erreur_co{
    color: red;
    display: none;
}

.checkbox_co{
    margin-right: 20px;
}

.btn_modal_mdpOublie{
    font-size: 10px;
    margin-left: 110px;
}

.inscription_co{
    text-align: right !important;
    margin-left: 220px;
}