
.titre_footer{
    text-transform: uppercase;
    color: white;
    font-weight: bold;
}

.nav_footer{
    text-decoration: none;
}

.nav_footer:hover{
    text-decoration: underline;
}

.droite_footer{
    border-left:solid 2px white;
}

.float_right{
    float:right!important;
}