
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@600&display=swap');

.body{
    overflow-x: hidden; 
}

/* General */
.t_bold{
    font-weight: bold;
}

.t_center{
    text-align: center;
}

/* Titre */
.titre{
    font-family: 'Oswald', sans-serif;
}

.titre2{
    font-family: 'Raleway', sans-serif;
}

/*Couleur*/
.bg_green1{background-color: #33985d!important;}

.bg_green2{background-color: #79bb94!important;}

.bg_green3{background-color: #c0dfcd!important;}

.bg_black{background-color: black!important;}

.bg_white{background-color: white!important;}

.bg_gray1{background-color: #929090!important;}

.bg_gray2{background-color: #E9E9E9!important;}

.bg_gray3{background-color: #E5E4E4!important;}

.bg_gray4{background-color: #333333!important;}

.bg_red1{background: #BC1823!important;}

.bg_red2{background: #CC5E65!important;}

.color_green1{color: #33985d!important;}

.color_white{color: white!important;}

.color_black{color: black!important;}

.color_gray4{color: #333333!important;}

/*Border*/
.border10{
    border-radius: 10px;
    border: none;
}

.border_ligne{
    border: none;
    border-bottom: solid 2px black;
}

/*Bouton*/
.btn_vert30{
    color: white;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border-radius: 30px;
    background-color: #33985d;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.btn_vert30:hover{
    color: white;
}

.btn_vert10{
    color: white;
    text-decoration: none;
    padding: 10px 25px 10px 25px;
    border-radius: 10px;
    background-color: #33985d;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}
.btn_vert10:hover{
    color: white;
}


.petit_texte{
    margin-top: -10px;
}

.notif_like{
    width: 230px;
    position: fixed!important;
    top: 40px;
    font-weight: bold;
    z-index: 999;
}
