
.header_tot{
    width: 100%;
    height: 50px;
}

.img_logo_admin{
    height: 40px;
    background-color: black;
    margin-top: 5px;
    border-radius: 15px;
    margin-left: 25px;
    padding-left: 10px;
    float: left;
}

.div_notif_admin{
    width: 70px;
    height: 25px;
    border-radius: 15px;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
}

.icone_notif{
    margin-left: 5px;
    color: #929090;
    margin-right: 5px;
}

.notif_admin{
    width: 15px;
    height: 15px;
    content: "";
    border-radius: 30px;
    background-color: red;
    float: right;
}

.recherche_header_admin{
    width: 200px;
    height: 25px;
    border-radius: 15px;
    float: left;
    margin-top: 15px;
    margin-left: 20px;
    padding-left: 15px;
    border: none;
}