

/* Liste Voiture */

.icone_listeBtnVoiture_th{
    position: relative;
    right: 35px;
    top: 10px;
}

.img_listeVoiture{
    width: 70px;
    height: 50px;
    object-fit: cover;
    padding-left: 10px;
    margin-right: -20px;
}

.statut_info_listeVoiture{
    width: 90px;
    height: 25px;
    border-radius: 30px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.ico_plus_liste{
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}

.disabled .page-link{
    color: gray!important;
}

.page-link{
    background-color: #b8b8b8!important;
    color: white!important;
}

.page-link:hover{
    background-color: #33985d!important;
}

.active .page-link{
    background-color: #33985d!important;
    border: solid 1px white!important;
}

/* Ajout */




/* Les Marques */

.table_marque td{
    border: solid 5px white;
    width: 200px;
    height: 210px;
}

.img_marque_liste{
    background-image: url("../Image/voiture_test.jpg");
    background-repeat: none;
    background-size: cover;
    object-fit: cover;
    width: 100%;
    height: 100%;
}

/* Devis Marque */

.contenu_devis_tot{
    width: 100%;
}

.row_devis{
    width: 100%;
    height: 200px;
    border-radius: 20px;
}

.img_devis{
    width: 180px;
    height: 180px;
    border-radius: 100px;
    border: solid 10px #33985d;
    margin-top: 10px;
    object-fit: cover;
    float: left;
}

.devis_texteUp{
    width: 100%;
    height: 65px;
    float: left;
    margin-top: 15px;
}

.prix_devis{
    float: right;
    position: relative;
    bottom: 35px;
    right: 15px;
    font-size: 20px;
}

.texte_devis{
    text-align: justify;
    width: 95%;
    font-size: 15px;
}

.info_devis{
    width: 550px;
    height: 60px;
    float: left;
}

.info_devis span{
    margin-left: 20px;
    vertical-align: 5px;
}

/* Liste client */

.icone_listeBtnClient_th{
    position: relative;
    right: 35px;
    top: 10px;
}

.img_listeClient{
    width: 70px;
    height: 50px;
    object-fit: cover;
    margin-left: 5px;
    border-radius: 30px;
}

.statut_info_listeClient{
    width: 90px;
    height: 25px;
    border-radius: 30px;
    padding-right: 5px;
    padding-left: 5px;
    text-align: center;
}

.ico_listeClient{
    padding: 5px 5px 5px 5px;
    border-radius: 3px;
}

/* Avis */

.col_avis{
    width: 300px!important;
    height: 270px;
    margin-left: 10px;
    border-radius: 5px;
}

.btn_avis{
    width: 100px;
    height: 30px;
    border: none;
    border-radius: 30px;
    color: white;
    line-height: 25px;
}

.btn_avis:hover{
    color: white;
}

/* Compte */

.compte_tot{
    width: 100%;
    height: 90vh;
    content: "";
}

.infoPerso_input{
    background-color: transparent;
    width: 45%;
    margin-left: 150px;
    margin-top: 15px;
}

.infoPerso_span{
    margin-left: 150px;
    color: red;
}

.infoPerso_image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    /* border: solid 2px #33985d; */
    border-radius: 150px;
    float: left;
}

.img_div_change{
    margin-top: 10px;
}

.btn_choix_img_admin{
    position: relative;
    overflow: hidden;
    color: black!important;
    font-size: 15px!important;
    font-weight: bold!important;
    float: left;
}

/* Ajout Voiture */


.ajoutVoiture_span,
.infoPerso_span{
    color: red;
    font-size: 12px;
}

        /* Color */
        
        .label_color{
            font-family: sans-serif;
            width: 300px;
            display: block;
            position: relative;
        }

        .color_ajoutVoiture {
            padding: 5px 15px;
            font-size: 16px;
            width: 100%;
            box-sizing: border-box;
        }

        .color_ajoutVoiture{
            padding: 0;
            border: 0;
            height: 40px;
            padding-left: 10px;
        }

        .color_ajoutVoiture:after {
            content: attr(data-value);
            position: absolute;
            bottom: 10px;
            text-align: center;
            color: #fffff5;
            display: block;
            width: 100%;
        }

        .color-icon {
            position: absolute;
            bottom: 10px;
            right: 10px;
            color: #666;
        }


.ajoutVoiture_image{
    width: 250px;
    height: 250px;
    object-fit: cover;
    border: solid 2px #33985d;
    border-radius: 150px;
    float: left;
}


.btn_categorie_ajouter{
    background-color: transparent;
    border: solid 2px #33985d;
    color: #33985d;
    border-radius: 5px;
}

.btn_categorie_ajouter:hover{
    color: white;
    background-color: #33985d;
}


/* Modifier voiture */
.modifVoiture_input{
    background-color: transparent;
    width: 45%;
    margin-right: 25px;
    margin-top: 15px;
}
